body{
    background-color: aqua;
}

#heading{
    display: flex;
    justify-content: center;
}

#input_div{
    display: flex;
    justify-content: center;
    gap: 2vw;
}

#note{
    background-color: aqua;
    border: none;
    height:4vh;
    width: 65vw;
    overflow-y: scroll;
    border: 2px solid rgb(0, 175, 175);
    border-radius: 8px;
}

#add_button{
    height: 30px;
    border: 2px solid rgb(0, 175, 175);
    border-radius: 4px;
    box-shadow: 5px 3px 5px rgb(0, 175, 175);
}

#alert_box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 37vw;
}

#note_box{
    display: flex;
    justify-content: center;
    height: 75vh;
    overflow-y: scroll;
}

.all_note{
    display: flex;
    width: 65vw;
    margin: 5px;
    gap: 2vw;
    box-sizing: border-box;
}

.note_data{
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(0, 175, 175);
    border-radius: 4px;
    padding: 4px;
    box-shadow: 5px 3px 5px rgb(0, 175, 175);
}

.delet_button{
    border: 2px solid rgb(0, 175, 175);
    border-radius: 4px;
    box-shadow: 5px 3px 5px rgb(0, 175, 175);
}

.note_text{
    white-space: normal;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

.date_time{
    margin-top: 6px;
}

p{
    width: 65vw;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 1.4;
}

button{
    text-align: center;
    font-size: small;
    cursor: pointer;
    border-radius: 8px;
    height: 5vh;
}