body{
    background-color: aqua;
}

#heading{
    display: flex;
    justify-content: center;
}

#input_div{
    display: flex;
    justify-content: center;
}

#note{
    /* margin: 2px; */
    background-color: aqua;
    border: none;
    height:4vh;
    width: 65vw;
    /* overflow-x: scroll; */
    overflow-y: scroll;
    border: 2px solid rgb(0, 175, 175);
    border-radius: 8px;
}

#add_button{
    height: 30px;
}

#alert_box{
    display: flex;
    justify-content: center;
}

#note_box{
    display: flex;
    justify-content: center;
    height: 75vh;
    overflow-y: scroll;
}

.all_note{
    display: flex;
    width: 65vw;
    margin: 5px;
}

p{
    width: 65vw;
    height: 5vh;
    overflow-y: scroll;
    margin-top: 0;
    margin-bottom: 0;
}

button{
    text-align: center;
    font-size: small;
    cursor: pointer;
    border-radius: 8px;
    height: 5vh;
}